    .proxies {
        width: 100%;
        box-sizing: border-box;
        height: 60px;
        font-family: 'Segoe UI';
        color: white;
        /* position: absolute;*/
        padding-left: 5%;
        margin-bottom: 50px;
        margin-top: 1%;
        display: flex;
    }
    
    .proxi-btn {
        padding-left: 5%;
        flex-grow: 10;
    }
    
    .shopify {
        width: 260px;
        height: 50px;
        border-radius: 25px;
        background-color: #131428;
        text-align: center;
        border: none;
        color: #16C8E4;
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 0px 59px;
        -webkit-appearance: none;
    }
    
    .shopify span {
        border-radius: 25px;
    }
    
    .shopify-decoration {
        background-image: url(../images/arrowbg.png);
        background-repeat: no-repeat;
        background-position: 0% center;
        margin-right: 10px;
    }
    
    .proxies-btn {
        width: 100px;
        height: 50px;
        margin-left: 42px;
        padding-bottom: 4px;
        border-radius: 25px 0px 0px 25px;
        background-color: #1A3047;
        border: none;
        border-right: 1px solid black;
    }
    
    .proxiclose-btn {
        width: 100px;
        height: 50px;
        padding-bottom: 10px;
        border-radius: 0px 25px 25px 0px;
        background-color: #1A3047;
        border: none;
        padding-top: 15px;
    }
    
    .plus {
        width: 18px;
        height: 18px;
        color: #16C8E4;
        font-size: 40px;
        margin-left: 30px;
    }
    
    .proxilist {
        width: 300px;
        height: 50px;
        border-radius: 25px;
        background-color: #131428;
        text-align: center;
        align-items: center;
        border: none;
        color: #16C8E4;
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-left: 25px;
        padding: 0px 59px;
        box-sizing: border-box;
        -webkit-appearance: none;
    }
    
    .list-decoration {
        background-image: url(../images/arrowbg.png);
        background-repeat: no-repeat;
        background-position: 100% center;
        margin-right: 10px;
    }
    /*@media only screen and (max-width:  1700px){
   
   .proxies{
      border: solid white;
    margin-left: 53px;
    display: flex;
  }
  .proxi-btn{
      width: 80%;
      margin-left:50px;
      border: solid white;
      
  }
  
  .shopify{
      width: 180px;
     
     }
  
  .proxies-btn{
      width: 70px;
      height: 50px;
      margin-left: 22px;
  }
  .proxiclose-btn{
      width: 70px;
     
  }
  .plus{
      width: 18px;
      margin-left: 10px;
  }
  
  .proxilist{
      width: 200px;
      margin-left: 25px;
      padding: 0px 59px;
      box-sizing: border-box;
  
  }
  .list-decoration{
      margin-right: 10px;
  }
   
  
   }*/
    
    .proxi-btn-icon {
        width: 65%;
        height: 130px;
        background-color: #131428;
        margin: auto;
        position: absolute;
        bottom: 0;
        left: 25%;
        border-radius: 45px 45px 0 0;
        align-items: center;
    }
    
    .proxi-btn-icon button {
        width: 260px;
        height: 50px;
        background-color: #17172D;
        border-radius: 25px;
        border: none;
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #16C8E4;
        justify-content: space-between;
    }
    
    .modal.modal--is-open-proxies {
        display: block;
        position: absolute;
        width: 25.5%;
        height: max-content;
        padding: 0px 0 45px 0;
        background-color: #131428;
        border-radius: 30px;
        margin-left: 25%;
        margin-top: -5%;
        z-index: 2;
    }
    
    .create-proxies {
        width: 80%;
        height: 50px;
        color: #16C8E4;
        font-size: 30px;
        background-color: #201D37;
        border-radius: 75px;
        padding: 0px 0px 12px 31px;
        border: none;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-left: 10%;
    }
    
    .proxies-logo {
        width: 400px;
        height: 50px;
        border-radius: 75px;
        padding: 0px 0px 12px 31px;
        border: none;
        margin-left: 50px;
    }
    
    .proxies-logo img {
        width: 157px;
        height: 38px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .proxies-buy {
        width: 80%;
        height: 50px;
        color: #16C8E4;
        font-size: 25px;
        background-color: #201D37;
        border-radius: 75px;
        padding: 5px 0px 0px 31px;
        border: none;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-left: 9%;
        margin-top: 4%;
    }
    
    .import-proxies {
        width: 80%;
        height: 50px;
        color: white;
        font-size: 20px;
        background-color: #1a3047;
        border-radius: 75px;
        padding: 0px 0px 12px 31px;
        border: none;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-left: 10%;
        margin-top: 7%;
    }
    
    .proxies-text {
        width: 80%;
        height: 250px;
        color: #076574;
        font-size: 20px;
        background-color: #201D37;
        border-radius: 25px;
        padding: 15px 0px 0px 15px;
        border: none;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-left: 10%;
        margin-top: 7%;
    }
    
    .add-proxies {
        width: 30%;
        height: 50px;
        border-radius: 25px;
        background-color: #1a3047;
        border: none;
        color: #16C8E4;
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-top: 5%;
        margin-left: 50%;
    }
    
    .add-proxies img {
        width: 15px;
    }
    
    .buy-profile-select-decoration {
        width:80%;
        height: 50px;
        margin-top: 7%;
        margin-left: 9%;
        background-color: #201D37;
        border: none;
        border-radius: 25px;
        -webkit-appearance: none;
        color: #076574;
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 0 0 0 31px;
        background-image: url(../images/edit.png),url(../images/arrowbg.png);
        background-repeat: no-repeat,no-repeat;
        background-position: 2% center,100% center;
        background-size: 15px,50px;
        margin-right: 10px;
    }
    
    .buy-email {
        width: 80%;
        height: 45px;
        color: #076574;
        font-size: 17px;
        background-color: #201D37;
        border-radius: 75px;
        padding: 0px 0px 0px 45px;
        border: none;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-left: 9%;
        margin-top: 7%;
        background-image: url("../images/email.png");
        background-repeat: no-repeat;
        background-position: 2% center;
        margin-right: 10px;
        background-size: 20px;
    }
    
    .buy-country-select-decoration {
        width: 80%;
        height: 50px;
        margin-top: 7%;
        margin-left: 9%;
        background-color: #201D37;
        border: none;
        border-radius: 25px;
        -webkit-appearance: none;
        color: #076574;
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 0 0 0 31px;
        background-image: url(../images/globus.png),url(../images/arrowbg.png);
        background-repeat: no-repeat,no-repeat;
        background-position: 2% center,100% center;
        background-size: 15px,50px;
        margin-right: 10px;
    }
    
    .buy-card {
        width: 80%;
        height: 45px;
        color: #076574;
        font-size: 17px;
        background-color: #201D37;
        border-radius: 25px;
        padding: 0px 0px 0px 45px;
        border: none;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-left: 9%;
        margin-top: 7%;
        background-image: url(../images/card.png);
        background-repeat: no-repeat;
        background-position: 2% center;
        margin-right: 10px;
        background-size: 15px;
    }
    
    .buy-year {
        width: 110px;
        height: 45px;
        color: #076574;
        font-size: 17px;
        background-color: #201D37;
        border-radius: 25px;
        padding: 0px 0px 0px 25px;
        border: none;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-left: 3%;
        margin-top: 4%;
        background-repeat: no-repeat;
        background-position: 100% center;
        background-size: 45px;
        -webkit-appearance: none;
    }
    
    .buy-cvv {
        width: 110px;
        height: 45px;
        color: #076574;
        font-size: 17px;
        background-color: #201D37;
        border-radius: 25px;
        padding: 0px 0px 0px 25px;
        border: none;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-left: 20px;
        margin-top: 20px;
        background-repeat: no-repeat;
        background-position: 100% center;
        background-size: 45px;
        -webkit-appearance: none;
    }
    
    .pay {
        width: 83%;
        display: flex;
        height: 50px;
        margin: auto;
        margin-top: 7%;
        border-radius: 25px;
        background-color: #201D37;
    }
    
    .change {
        width: 27%;
        height: 45px;
        color: #076574;
        font-size: 17px;
        background-color: #201D37;
        border-radius: 25px;
        padding: 0px 0px 0px 25px;
        border: none;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-repeat: no-repeat;
        background-position: 100% center;
        background-size: 45px;
        -webkit-appearance: none;
    }
    
    .pay-text {
        margin-left: 50px;
        font-size: 17px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #16C8E4;
        margin-top: 15px;
    }
    
    .buy-btn {
        width: 27%;
        height: 50px;
        border-radius: 25px;
        background-color: #1a3047;
        border: none;
        color: #16C8E4;
        font-size: 17px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-left: 16%;
    }
    
    .proxi-name {
        width: 80%;
        height: 45px;
        color: #076574;
        font-size: 17px;
        background-color: #201D37;
        border-radius: 75px;
        padding: 0px 0px 0px 45px;
        border: none;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-left: 10%;
        margin-top: 6%;
        background-image: url("../images/proxiname.png");
        background-repeat: no-repeat;
        background-position: 2% center;
        margin-right: 10px;
        background-size: 20px;
    }
    
    .list-new {
        width: 80%;
        display: flex;
        height: 50px;
        margin: auto;
        margin-top: 30px;
        border-radius: 25px;
        background-color: #201D37;
        justify-content: space-between;
    }
    
    .name-btn {
        width: 110px;
        height: 50px;
        border-radius: 25px;
        background-color: #1a3047;
        border: none;
        color: #16C8E4;
        font-size: 17px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    @media (max-width: 682px) {
        .mobile-view {
            display: none;
        }
        .proxilist {
            width: 200px;
        }
        li {
            display: block;
        }
        .proxies-btn {
            display: block;
        }
    }